@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-font-smoothing: antialised;
  font-size: 90%; }

body {
  background-color: #FAF9F8; }

h1, h2, p, a {
  color: #222831; }

h1, h2 {
  font-family: 'Playfair Display', serif; }

p, a {
  font-family: 'Montserrat', sans-serif; }

p, span {
  font-size: 1rem; }

img {
  max-width: 100%; }

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 3%; }

.rectangle-v {
  width: 1rem;
  height: 100%;
  margin-right: 1rem;
  background-color: #00ADB5;
  display: inline-block; }

h2 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  display: inline-block; }

header {
  width: 100%; }
  header.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  header .menu {
    width: 100%;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75); }
    header .menu ul {
      display: flex;
      justify-content: space-between; }
    header .menu a {
      font-size: 1.2rem;
      font-weight: 300; }
  header main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%; }
    header main h1 {
      font-size: 6rem;
      display: flex;
      align-items: center; }
    header main .rectangle-h {
      width: 7rem;
      height: 1rem;
      background-color: #00ADB5;
      display: inline-block; }
  header .icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
  header img {
    width: 2.5rem;
    margin: .3rem 0;
    transition: .3s; }
    header img:hover {
      opacity: .9; }

section.container {
  margin: 5rem auto; }
section h1 {
  font-size: 4rem;
  display: flex;
  align-items: center; }
section .rectangle-v {
  width: .6rem;
  height: 5rem; }
section .sobre-mim-content {
  padding: 3rem 0;
  display: flex;
  align-items: center; }
  section .sobre-mim-content img {
    width: 10rem; }
  section .sobre-mim-content p {
    line-height: 1.5rem;
    margin-left: 1rem !important; }
  section .sobre-mim-content p + p {
    margin: 0.8rem 0; }
section .skills {
  display: flex;
  justify-content: space-around; }
  section .skills img {
    width: 4.5rem;
    margin-bottom: 1rem; }
section .skill-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 18rem;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75); }
  section .skill-box p {
    font-weight: bold; }
section.container.projetos {
  justify-content: space-evenly; }
section .projetos-content {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem; }
  section .projetos-content .projeto-box {
    width: 26rem;
    background-color: white;
    font-size: 1rem;
    margin: 0.5rem;
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.75);
    transition: 0.7s; }
    section .projetos-content .projeto-box:hover {
      cursor: pointer;
      width: 30rem; }
      section .projetos-content .projeto-box:hover img {
        opacity: 0.7; }
  section .projetos-content .projeto-descricao {
    padding: 3rem 0;
    display: flex;
    justify-content: center; }
    section .projetos-content .projeto-descricao p {
      line-height: 1.5;
      margin: 2rem 0; }
    section .projetos-content .projeto-descricao h1 {
      font-size: 1.7rem; }
    section .projetos-content .projeto-descricao h2 {
      font-size: 1.5rem;
      font-weight: 500;
      display: flex;
      align-items: center; }
      section .projetos-content .projeto-descricao h2::after {
        content: '';
        width: 4rem;
        height: 0.2rem;
        background-color: #00ADB5;
        margin-left: 1rem; }
  section .projetos-content .botões {
    display: flex;
    justify-content: flex-end; }
  section .projetos-content a {
    font-size: 0.9rem; }
  section .projetos-content button {
    font-size: 0.9rem;
    color: white;
    font-weight: bold;
    margin-left: 3rem;
    background-color: #00ADB5;
    width: 8rem;
    height: 3rem;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
    transition: .3s; }
    section .projetos-content button:hover {
      background-color: #00868C; }
section.contato p {
  padding: 4rem 0; }
section .icons-contato img {
  width: 2rem; }
section .icons-contato a {
  display: flex;
  align-items: center; }
  section .icons-contato a:hover {
    background-color: white; }
section .icons-contato span {
  margin-left: 1rem;
  font-weight: bold; }
section .icons-contato a + a {
  margin-top: 1rem; }

footer {
  width: 100%;
  padding: 1.2rem 0;
  background-color: #393E46; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white; }
    footer .container p, footer .container a {
      font-weight: 300;
      color: white;
      font-size: 1rem;
      line-height: 1.5rem; }
    footer .container a {
      text-decoration: underline; }
    footer .container p.copy {
      font-weight: 500; }
    footer .container .atribuicoes a, footer .container .atribuicoes p {
      font-size: 0.7rem; }

.js .js-tabcontent .descricao-single {
  display: none; }
  .js .js-tabcontent .descricao-single.ativo {
    display: block !important;
    animation: show 1s forwards; }
.js .js-tabbutton {
  display: none !important; }
  .js .js-tabbutton.ativo {
    display: flex !important;
    justify-content: flex-end !important;
    margin: 2rem 0;
    animation: show 1s forwards; }
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 1s; }
  .js .js-scroll.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0); }

@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-3rem, 0, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
@media screen and (max-width: 900px) {
  * {
    font-size: 75%; }

  .projetos-content {
    flex-direction: column;
    align-items: center;
    margin: 0; }
    .projetos-content .projeto-box {
      width: 35rem !important; }

  .skills {
    flex-direction: column;
    align-items: center; }
    .skills .skill-box {
      margin: 1rem 0; } }
@media screen and (max-width: 400px) {
  * {
    font-size: 55%; } }

/*# sourceMappingURL=style.css.map */
